{% extends 'base.html' %}

{% block title %}Votre Panier{% endblock %}

{% block content %}
<h2>Votre Panier</h2>

{% if cart_items %}
  {% for item in cart_items %}
  <div class="list_cart">
    <h1>{{ item.title }}</h1>
    <div class="quantite">
      <p class="p1">Quantité : </p>
      <a class="a1" href="{{ url_for('blog.update_quantity', id=item.id, action='decrease') }}"><i class="fa-solid fa-minus"></i></a>
      <p class="p2">{{ item.quantity }}</p>
      <a class="a2" href="{{ url_for('blog.update_quantity', id=item.id, action='increase') }}"><i class="fa-solid fa-plus"></i></a>
    </div>
    <form method="post" action="{{ url_for('blog.remove_from_cart', id=item.id) }}">
      <button class="action_remove" type="submit">Retirer <i class="fa-solid fa-xmark"></i></button>
    </form>
  </div>
  {% endfor %}
  <form method="post" action="{{ url_for('blog.checkout') }}">
    <button class="action" type="submit">Passer à la caisse</button>
  </form>
  <div class="payement_methode">
    <i class="fa-brands fa-paypal"></i>
    <i class="fa-solid fa-credit-card"></i>
  </div>
{% else %}
  <p>Votre panier est vide.</p>
{% endif %}
{% endblock %}
