{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Articles{% endblock %}</h1>
  {% if g.user %}
    <a class="action2 animate" href="{{ url_for('blog.create') }}"><i class="fa-solid fa-plus"></i></a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="grid-container">
    {% for article in articles %}
      <article class="post">
        {% if article['image'] %}
          <img src="{{ url_for('blog.show_image', image_filename=article['image']) }}" alt="{{ article['image'] }}">
        {% endif %}
        <header>
          <div>
            <h1>{{ article['title'] }}</h1>
            <div class="about">by {{ article['username'] }} on {{ article['created'].strftime('%Y-%m-%d') }}</div>
          </div>
        </header>

        <p class="body">{{ article['body'] }}</p>
        <div class="rating">
          {% for i in range(5) %}
            {% if i < article['rating'] %}
              <i class="fa fa-star"></i>
            {% else %}
              <i class="fa fa-star-o"></i>
            {% endif %}
          {% endfor %}
        </div>
        {% if g.user %}
          <form method="POST" action="{{ url_for('blog.rate_article', id=article['id']) }}">
            <div class="note">
              <label for="rating">Votre note :</label>
              <button type="submit" name="rating" value="1"><i class="fa fa-star-o"></i></button>
              <button type="submit" name="rating" value="2"><i class="fa fa-star-o"></i></button>
              <button type="submit" name="rating" value="3"><i class="fa fa-star-o"></i></button>
              <button type="submit" name="rating" value="4"><i class="fa fa-star-o"></i></button>
              <button type="submit" name="rating" value="5"><i class="fa fa-star-o"></i></button>
            </div>
          </form>
        {% else %}
          <p><a href="{{ url_for('auth.login') }}">Log in</a> to rate the article.</p>
        {% endif %}

        {% if g.user %}
          <form method="post" action="{{ url_for('blog.add_to_cart', id=article['id']) }}">
            <button type="submit" class="action">Ajouter au panier <i class="fa-solid fa-cart-shopping"></i></button>
          </form>
        {% else %}
          <p><a href="{{ url_for('auth.login') }}">Log in</a> to add items to your cart.</p>
        {% endif %}
        {% if g.user['id'] == article['author_id'] or g.user['role'] == "admin" %}
          <a class="article_edit" href="{{ url_for('blog.update', id=article['id']) }}">Edit <i class="fa-solid fa-pen"></i></a>
        {% endif %}
      </article>
    {% endfor %}
  </div>
{% endblock %}
