html {
    font-family: Arial, sans-serif; 
}
body {
    margin: 0 auto; 
    background: white; 
}
h1 { 
    color: #377ba8; 
    margin: 1rem 0; 
}
nav ul li a { 
    background-color: #377ba8;
    color: #ffffff;
    padding: 0.75rem 1rem;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 5px rgba(155, 155, 155, 0.2);
}
nav ul li a:hover {
    background-color: #3495d6;
    color: #fff;
}
hr { 
    border: none; 
    border-top: 1px solid lightgray; 
}
nav { 
    background: rgb(30, 33, 61); 
    display: flex; 
    align-items: center; 
}
nav h1 { 
    flex: auto;
    padding: 0 1rem; 
    color: #fff;
}
nav h1 a { 
    text-decoration: none;
}
nav ul  { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 1rem; 
    gap: 1.5rem;
}

.content { 
    padding: 0 1rem 1rem; 
}
.content > header { 
    border-bottom: 1px solid lightgray; 
    display: flex; 
    align-items: flex-end; 
}
.content > header h1 { 
    flex: auto; 
    margin: 1rem 0 0.25rem 0; 
}
.flash { 
    margin: 1em 0; 
    padding: 1em; 
    background: #cae6f6; 
    border: 1px solid #377ba8; 
}
.post > header { 
    display: flex; 
    align-items: flex-end; 
    font-size: 0.85em; 
}
.post > header > div:first-of-type { 
    flex: auto; 
}
.post > header h1 { 
    font-size: 1.5em; 
    margin-bottom: 0;
}
.post .about { 
    color: slategray; 
    font-style: italic; 
}
.post .body { 
    white-space: pre-line; 
}
.content:last-child { 
    margin-bottom: 0; 
}

.content form { 
    margin: 1em auto;
    display: flex; 
    flex-direction: column; 
    width: 250px;
}

.content label { 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.content input, .content textarea { 
    margin-bottom: 1em;
    width: 230px;
    padding: 10px;
    border-radius: 20px;
    background-color: #cae6f6;
    border: 0;
    text-align: left;
}

.content textarea { 
    min-height: 12em; 
    resize: vertical; 
}

input[type=submit] { 
    width: 250px;
    background-color: #377ba8;
    color: #fff;
    text-align:center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}
input[type=submit]:hover {
    background-color: #3495d6;
    color: #fff;
}
