html {
    font-family: Arial, sans-serif; 
}
body {
    margin: 0 auto; 
    background: white; 
}
h1 { 
    color: #000000; 
    margin: 1rem 0; 
}
nav ul li span {
    color: #ffffff;
}
nav ul li a { 
    background-color: #377ba8;
    color: #ffffff;
    padding: 0.75rem 1rem;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 5px rgba(155, 155, 155, 0.2);
}
nav ul li a:hover {
    background-color: #3495d6;
    color: #fff;
}
nav ul li a span {
    display: none;
}
nav ul li a:hover span {
    display: inline;
}
hr { 
    border: none; 
    border-top: 1px solid lightgray; 
}
nav { 
    background: rgb(30, 33, 61); 
    display: flex; 
    align-items: center; 
}
nav h1 { 
    flex: auto;
    padding: 0 1rem; 
    color: #fff;
}
nav h1 a { 
    text-decoration: none;
    color: #fff;
}
nav ul  { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 1rem; 
    gap: 1.5rem;
}

.content { 
    padding: 0 1rem 1rem; 
}
.content > header { 
    border-bottom: 1px solid lightgray; 
    display: flex; 
    align-items: flex-end; 
}
.content > header h1 { 
    flex: auto; 
    margin: 1rem 0 0.25rem 0; 
}
.flash { 
    margin: 1em 0; 
    padding: 1em; 
    background: #377ba8; 
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Nombre de colonnes auto-ajusté */
    gap: 1.5rem; /* Espacement entre les éléments */
    margin-top: 1.5rem;
}
  
.post {
    background-color: #d2dee4;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.post header {
    margin-bottom: 1rem;
}
  
.post h1 {
    color: #000;
    font-size: 1.3rem;
    margin: 0;
    padding: 1rem 0;
}
  
.post .about {
    font-size: 0.85em;
    color: #777;
}
  
.post .body {
    color: #333;
    font-size: 1em;
    white-space: pre-line;
}
.post img {
    border-radius: 10px;
}
@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Sur petits écrans, une seule colonne */
    }
}
  
.content form { 
    margin: 1em auto;
    display: flex; 
    flex-direction: column; 
    width: 250px;
}

.content label { 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.content input, .content textarea { 
    margin-bottom: 1em;
    width: 230px;
    padding: 10px;
    border-radius: 20px;
    background-color: #cae6f6;
    border: 0;
    text-align: left;
}

.content textarea { 
    min-height: 12em; 
    resize: vertical; 
}

input[type=submit] { 
    width: 250px;
    background-color: #377ba8;
    color: #fff;
    text-align:center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}
input[type=submit]:hover {
    background-color: #3495d6;
    color: #fff;
}
.action{
    background-color: #377ba8;
    color: #ffffff;
    padding: 0.75rem 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 5px rgba(155, 155, 155, 0.2);
    margin: 0.5rem 0;
}
.action:hover {
    background-color: #3495d6;
    color: #fff;
}
.article_edit{
    background-color: #696969;
    color: #ffffff;
    padding: 0.75rem 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 5px rgba(155, 155, 155, 0.2);
    margin: 0.5rem 0;
    text-align: center;
}
.article_edit:hover {
    background-color: #b1b1b1;
    color: #fff;
}
.action2{
    background-color: #377ba8;
    color: #ffffff;
    padding: 0.6rem 0.75rem;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 5px rgba(155, 155, 155, 0.2);
    margin: 0.5rem 0;
}
.action2:hover {
    background-color: #3495d6;
    color: #fff;
}
.action_remove{
    background-color: #a83737;
    color: #ffffff;
    padding: 0.6rem 0.75rem;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 5px rgba(155, 155, 155, 0.2);
    margin: 0.5rem 0;
}
.action_remove:hover {
    background-color: #d63434;
    color: #fff;
}
.list_cart{
    background-color: #d2dee4;
    border-radius: 10px;
    padding: 0 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list_cart form {
    margin: 0 0;
    padding: 0 0;
}
.quantite{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 45%;
}
.quantite .a1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #9c9c9c;
    background-color: #ffffff;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    color: rgb(0, 0, 0);
}
.quantite .a2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #9c9c9c;
    background-color: #ffffff;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    color: rgb(0, 0, 0);
}
.quantite .p1{
    font-weight: bold;
    padding: 0.5rem;
}
.quantite .p2{
    border-top: 2px solid #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
    background-color: #ffffff;
    padding: 0.5rem;
}
.quantite .a1:hover{
    background-color: #c5c5c5;
}
.quantite .a2:hover{
    background-color: #c5c5c5;
}
.payement_methode {
    font-size: 2rem;
    text-align: center;
}
